/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: Agency*/
/* Version: 1.0 Initial Release*/
/* Build Date: 25-02-2015*/
/* Author: Unbranded*/
/* Copyright: (C) 2015 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - FONTS */
/* 02 - LOADER */
/* 03 - RESET STYLES */
/* 04 - GLOBAL SETTINGS */
/* 05 - HEADER */
/* 06 - FOOTER */
/* 07 - PLUGINS */
/* 08 - CREATIVE AGENCY TEMPLATE */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - FONTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500);
@font-face {
  font-family: 'Jaapokki';
  src: url("../fonts/jaapokki-regular-webfont.eot");
  src: url("../fonts/jaapokki-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jaapokki-regular-webfont.woff2") format("woff2"), url("../fonts/jaapokki-regular-webfont.woff") format("woff"), url("../fonts/jaapokki-regular-webfont.ttf") format("truetype"), url("../fonts/jaapokki-regular-webfont.svg#jaapokkiregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - LOADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999999999999;
  background: #fff;
}

.loader-content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.b-cube {
  background: #e66a55;
}

.ar-cube {
  background: #196575;
}

.s-cube {
  background: #d0a97e;
}

.f-cube {
  background: #eb2a2a;
}

.m-cube {
  background: #164b9b;
}

.ag-cube {
  background: #333;
}

.h-cube {
  background: #3cc5de;
}

.r-cube {
  background: #d0c4b2;
}

.t-cube {
  background: #3cc5de;
}

.cube1, .cube2 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - RESET STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

body * {
  -webkit-text-size-adjust: none;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 0px;
  font-size: 0px;
  display: block;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

input, textarea, select {
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400;
  -webkit-appearance: none;
  border-radius: 0;
}

a, a:link, a:visited, a:active, a:hover {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Jaapokki', sans-serif, Arial;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
}

p {
  font-family: 'Maven Pro';
  letter-spacing: 1px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*table*/
.table-view {
  height: 100%;
  width: 100%;
  display: table;
}

.row-view {
  display: table-row;
}

.cell-view {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
}

/*buttons*/
/*nopadding class*/
.nopadding {
  padding-left: 0;
  padding-right: 0;
}

/*content wrapper*/
#content-wrapper {
  padding-top: 122px;
  position: relative;
}

/*body class with moved header*/
body.header-moved #content-wrapper {
  padding-top: 244px;
}

/*container to display above header*/
.container-above-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

/*text styles*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Jaapokki";
}

h3 {
  text-transform: uppercase;
}

p {
  font-family: "Maven Pro";
}

/*map*/
#map-canvas {
  height: 660px;
  background: #485b77;
}

.block #map-canvas {
  margin-bottom: 60px;
}

/*video player*/
.video-player {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 29, 40, 0.8);
  z-index: 10;
  transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
}

.video-player.active {
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
}

.video-iframe {
  position: absolute;
  left: 50px;
  top: 50px;
  right: 50px;
  bottom: 50px;
}

.video-iframe iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-player .close-iframe {
  color: #ff6c3a;
  font-family: 'bold', sans-serif, Arial;
  font-size: 27px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
}

.video-player .close-iframe:hover {
  color: #fff;
}

@media (max-width: 991px) {
  #content-wrapper, body.header-moved #content-wrapper {
    padding-top: 50px;
  }

  .container-above-header {
    position: relative;
  }

  #map-canvas {
    height: 300px;
  }

  .block #map-canvas {
    margin-bottom: 30px;
  }
}
.background-parent {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.read-more i {
  position: relative;
  display: inline-block;
  right: 0;
  transition: right 0.3s linear;
}

.read-more:hover i {
  right: -10px;
}

.block-title {
  color: #196575;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 23px;
  word-wrap: break-word;
}

@media screen and (max-width: 481px) {
  .block-title {
    font-size: 32px;
  }
}
.sub-title {
  max-width: 560px;
  color: #8b989b;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  padding: 0 15px 80px;
  font-family: 'Maven Pro';
  letter-spacing: 0;
}

/*demo*/
.demo-wrapper {
  position: static;
}

.demo-banner {
  background: url("../img/agency/demo-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 660px;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.demo-banner:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .demo-banner {
    height: auto;
    padding: 150px 0;
    min-height: 100%;
  }
}
@media screen and (max-width: 481px) {
  .demo-banner {
    padding: 70px 0;
  }
}

.d-banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  padding: 0 15px;
}
@media screen and (max-width: 992px) {
  .d-banner-content {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
}
.d-banner-content h1 {
  margin: 55px 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1.3;
}
@media screen and (max-width: 481px) {
  .d-banner-content h1 {
    margin: 30px 0;
  }
}
.d-banner-content a {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 18px 44px 14px;
  text-transform: uppercase;
}
.d-banner-content i {
  background: url("../img/agency/arrow.png");
  width: 18px;
  height: 8px;
}

.demo-info > div {
  padding: 17px 0 33px;
  text-align: center;
}
.demo-info h3 {
  font-family: 'Maven Pro';
  text-transform: uppercase;
  font-size: 16px;
  color: #d4fafd;
}
.demo-info h3 span {
  font-size: 40px;
  font-weight: 700;
  padding-right: 10px;
  position: relative;
  top: 5px;
  color: #fff !important;
}

.d-color-1 {
  background: #31cdda;
}

.d-color-2 {
  background: #e76a56;
}
.d-color-2 h3 {
  color: #fbbdb3;
}

.d-color-3 {
  background: #196575;
}
.d-color-3 h3 {
  color: #99cfda;
}

.d-footer {
  background: #f9f9f9;
  padding: 70px 0 60px;
}
.d-footer div {
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.demo-content {
  padding: 100px 0;
}
.demo-content h2 {
  font-size: 40px;
  color: #333333;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.demo-content p {
  text-transform: uppercase;
  color: #888;
  font-weight: bold;
  font-family: 'Maven Pro';
}

.template-box {
  float: left;
  width: 33.333%;
  margin-top: 100px;
  padding: 0 15px;
}
@media screen and (max-width: 992px) {
  .template-box {
    margin-top: 70px;
    width: 100%;
  }
}
.template-box p {
  padding-top: 30px;
  text-transform: uppercase;
  color: #333;
  font-size: 13px;
  font-family: "Jaapokki";
}

.img-box {
  position: relative;
  margin: auto;
  border: 3px solid transparent;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .img-box {
    display: inline-block;
  }
}
.img-box .template-link {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  height: 100%;
}
.img-box .template-link a {
  padding: 12px 20px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -300px);
      -ms-transform: translate(-50%, -300px);
          transform: translate(-50%, -300px);
  border: 2px solid #ffffff;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}
.img-box .template-link a i {
  background: url("../img/agency/v-arrow.png");
  width: 18px;
  height: 8px;
  margin-left: 5px;
}
.img-box:hover .template-link {
  opacity: 1;
}
.img-box:hover .template-link a {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.img-box img {
  max-width: 100%;
  display: block;
  height: auto;
}

.template-box-1 {
  border-color: #37383d;
}

.template-box-2 {
  border-color: #c6b7a0;
}

.template-box-3 {
  border-color: #eb2b2a;
}

.template-box-4 {
  border-color: #164b9b;
}

.template-box-5 {
  border-color: #223c3d;
}

.template-box-6 {
  border-color: #e06b57;
}

.template-box-7 {
  border-color: #196575;
}

.template-box-8 {
  border-color: #d0a97e;
}

.template-box-9 {
  border-color: #3dc5df;
}

@-webkit-keyframes scroll-arrow {
  from {
    bottom: 48px;
  }
  to {
    bottom: 30px;
  }
}
@-ms-keyframes scroll-arrow {
  from {
    bottom: 48px;
  }
  to {
    bottom: 30px;
  }
}
@keyframes scroll-arrow {
  from {
    bottom: 48px;
  }
  to {
    bottom: 30px;
  }
}
.module {
  background: #f1f2f1;
  padding: 70px 0 0;
}
.module img {
  width: 65px;
  float: left;
  margin-right: 30px;
}
.module .content {
  width: 60%;
  font-size: 14px;
  line-height: 22px;
  color: #2c2c2c;
  font-family: 'Maven Pro';
  letter-spacing: 1px;
  float: left;
}
@media screen and (max-width: 992px) {
  .module .content {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    float: none;
  }
}
.module .col-md-4 {
  min-height: 200px;
}
@media screen and (max-width: 992px) {
  .module .col-md-4 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .module {
    text-align: center;
  }
  .module img {
    float: none;
    margin-bottom: 20px;
  }
}

.arrow-down {
  width: 18px;
  height: 18px;
  background: url("../img/agency/down-arrow.png");
  position: absolute;
  left: 50%;
  bottom: 48px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999;
  cursor: pointer;
  -webkit-animation: scroll-arrow 750ms ease-in-out infinite alternate;
  animation: scroll-arrow 750ms ease-in-out infinite alternate;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important;
}

.gmnoprint a, .gmnoprint span {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 7- PLUGINS STYLE  */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  height: inherit !important;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: inherit !important;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  box-sizing: content-box;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
  height: inherit !important;
  box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */
  width: 100%;
  height: auto;
}

.swiper-slide {
  /* Specify Slides's Size: */
  width: 100%;
  height: 100%;
    max-width: 750px;
}

.swiper-slide-active {
  /* Specific active slide styling: */
}

.swiper-slide-visible {
  /* Specific visible slide styling: */
}

/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
  background: transparent;
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  position: relative;
  margin: 8px;
  border-radius: 50%;
}
.swiper-pagination-switch:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}

.swiper-active-switch {
  border-color: #fff;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.9;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 1;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 18px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 35px;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.8) url("../img/agency/l-arrow.png") no-repeat center;
  left: 15px;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  left: auto;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.8) url("../img/agency/v-arrow.png") no-repeat center;
  right: 15px;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  transition: all 0.5s;
  -webkit-transform: scale(0) rotate(500deg);
      -ms-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
      -ms-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0) rotate(500deg);
      -ms-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== 3d unfold ======

*/
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-60deg);
          transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== "Hinge" close effect ======

*/
@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
            transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
    opacity: 0;
  }
}
@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
            transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
    opacity: 0;
  }
}
.hinge {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: hinge;
          animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - HEADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#logo {
  margin: 0 0 30px 15px;
  float: left;
    
}
@media screen and (max-width: 992px) {
  #logo {
    margin: 0 0 15px 15px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: #fff;
  padding-top: 30px;
  transition: background 0.3s linear;
}
.header > .container {
  position: relative;
}
@media screen and (max-width: 992px) {
  .header {
    background: rgba(255, 255, 255, 0.97);
    padding-top: 15px;
  }
}

.nav {
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}
@media screen and (max-width: 992px) {
  .nav {
    display: none;
    width: 100%;
    margin-right: 0;
  }
}
.nav li {
  list-style: none;
  float: left;
  margin: 0 5px;
}
@media screen and (max-width: 1200px) {
  .nav li {
    margin: 0;
  }
}
@media screen and (max-width: 992px) {
  .nav li {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 992px) {
  .nav li {
    padding-left: 20px;
    padding-right: 30px;
  }
}
.nav li a {
  color: #196575;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 2px 2px 5px;
  border: 2px solid transparent;
  transition: border-color 0.2s linear;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .nav li a {
    font-size: 9px;
  }
}
@media screen and (max-width: 992px) {
  .nav li a {
    padding: 17px 0;
    display: block;
    border: none;
    border-top: 1px solid #196575;
    transition: color 0.2s linear, background 0.2s linear;
    font-size: 11px;
  }
}
.nav li a:hover {
  border-color: #196575;
}
@media screen and (max-width: 992px) {
  .nav li a:hover {
    background: #196575;
    color: #fff;
  }
}
.nav li:last-of-type {
  margin-right: 0;
}
.nav li.active a {
  border-color: #196575;
}

.menu-button, .m-menu-button {
  width: 30px;
  height: 18px;
  position: absolute;
  right: 15px;
  display: none;
  cursor: pointer;
  margin-top: 1px;
}
.menu-button span, .m-menu-button span {
  height: 2px;
  margin-top: 10px;
  background: #03dcd4;
  display: block;
  position: relative;
  top: 0;
  transition: all 500ms ease-out;
}
@media screen and (max-width: 992px) {
  .menu-button, .m-menu-button {
    display: block;
  }
}
.menu-button span:first-child, .m-menu-button span:first-child {
  margin-top: 0;
}
.menu-button.active span:nth-child(1), .m-menu-button.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}
.menu-button.active span:nth-child(2), .m-menu-button.active span:nth-child(2) {
  opacity: 0;
  top: 7px;
}
.menu-button.active span:nth-child(3), .m-menu-button.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -17px;
}

.m-menu-button {
  transition: top 0.4s ease;
}
.m-menu-button.active span {
  color: #164b9b;
}
.m-menu-button.active {
  top: 5px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 0 - FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  background: #222;
  padding-top: 65px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 45px;
  }
}

img.footer-logo {
  display: block;
  margin: 0 auto;
}

.footer h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Jaapokki';
  font-size: 16px;
  margin-top: 70px;
  color: #fff;
  letter-spacing: 5px;
}

.footer p {
  text-align: center;
  font-size: 13px;
  font-family: 'Maven Pro';
  color: #646464;
  max-width: 550px;
  margin: 27px auto 45px;
  line-height: 22px;
  letter-spacing: 0;
}

.ftr-social {
  display: table;
  margin: 50px auto 50px;
}
@media screen and (max-width: 768px) {
  .ftr-social {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.ftr-social .social-network {
  opacity: 1;
  text-align: center;
  width: 27px;
  height: 27px;
  border: 2px solid #646464;
  margin: 0 25px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .ftr-social .social-network {
    margin: 0 15px;
  }
}
.ftr-social .social-network {
  line-height: 27px;
}
.ftr-social .social-network i {
  color: #646464;
}

.ftr-social .social-network:hover i {
  color: #fff;
}

@media (max-width: 991px) {
  .footer h3, .s-footer {
    margin-top: 20px;
  }

  .footer p {
    margin-top: 15px;
  }
}
.ftr-nav-container {
  background: #171717;
  padding: 28px 0 22px;
}
@media screen and (max-width: 992px) {
  .ftr-nav-container {
    display: none;
  }
}

.ftr-nav {
  display: table;
  margin: 0 auto;
}
.ftr-nav li {
  float: left;
  list-style: none;
}
.ftr-nav li a {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 12px;
  color: #646464;
  transition: color 0.2s linear;
  font-size: 11px;
}

.footer-info {
  color: #646464;
}

.subscribe-form {
  max-width: 570px;
  height: 45px;
  background: #2c2c2c;
  margin: 0 auto;
  padding: 0 0 0 20px;
  position: relative;
}
@media screen and (max-width: 420px) {
  .subscribe-form {
    padding-left: 10px;
  }
}

.subscribe-form label, .subscribe-form input {
  float: left;
  line-height: 45px;
}

.subscribe-form label {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;
  padding-top: 2px;
  padding-right: 9px;
  position: absolute;
  left: 20px;
}
@media screen and (max-width: 420px) {
  .subscribe-form label {
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.subscribe-form label:after {
  content: '';
  height: 10px;
  width: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 17px;
}
@media screen and (max-width: 420px) {
  .subscribe-form label:after {
    content: none;
  }
}

.subscribe-email {
  width: 90%;
  border: none;
  height: 45px;
  color: #646464;
  background: none;
  padding: 0 8px;
  float: left;
}

.subscribe-email::-webkit-input-placeholder {
  color: #646464;
}

.subscribe-email::-moz-placeholder {
  color: #646464;
}

.subscribe-email:-moz-placeholder {
  color: #646464;
}

.subscribe-email:-ms-input-placeholder {
  color: #646464;
}

.subscribe-submit {
  border: none;
  background: url("../img/agency/v-arrow.png") no-repeat 40% 19px;
  position: absolute;
  right: 0;
  transition: background 0.3s ease;
  width: 10%;
}
@media screen and (max-width: 420px) {
  .subscribe-submit {
    background-position: 0 19px;
  }
}

.subscribe-submit:hover {
  background-position: 70% 19px;
}

.input-container {
  position: relative;
  padding-left: 100px;
}
@media screen and (max-width: 420px) {
  .input-container {
    padding-left: 0;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08- CREATIVE AGENCY TEMPLATE */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*----------HEADER----------------------*/
.a-header {
  background: transparent;
}
@media screen and (max-width: 992px) {
  .a-header {
    background: #fff !important;
    border-bottom: 1px solid #ccc;
  }
}

.a-header-active {
  background: #fff !important;
  border-bottom: 1px solid #ccc;
}

.ag-nav li a {
  color: #333;
}
.ag-nav li a:hover {
  color: #35373e;
  border-color: #35373e;
}
@media screen and (max-width: 992px) {
  .ag-nav li a {
    border-top: 1px solid #acafba;
  }
  .ag-nav li a:hover {
    background: #35373e;
    color: #fff;
  }
}
.ag-nav li.active a {
  color: #35373e;
  border-color: #35373e;
}
@media screen and (max-width: 992px) {
  .ag-nav li.active a a {
    background: #35373e;
    color: #fff !important;
    border-color: #acafba;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  .ag-nav li.active a {
    background: #35373e;
    color: #fff;
  }
}

@media screen and (max-width: 481px) {
  .ag-nav li {
    text-align: left !important;
  }
  .ag-nav li a {
    padding-left: 15px;
  }
}

.a-menu-button span {
  background: #35373e;
}

.a-block-title {
  color: #35373e !important;
}

.a-sub-title {
  color: #acafba;
}

.a-banner {
  background-size: cover;
  min-height: 660px;
  height: 100vh;
  position: relative;
  background-position: center;
}
@media screen and (max-width: 992px) {
  .a-banner {
    height: auto;
    min-height: 100%;
    padding: 120px 0 70px;
  }
}

.banner_description {
  border: 5px solid #35373e;
  text-align: center;
  max-width: 780px;
  padding: 35px 48px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .banner_description {
    margin: 0 auto;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    position: relative;
    left: 0;
    top: 0;
  }
}
.banner_description h1 {
  font-size: 60px;
  color: #35373e;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 28px 0 8px;
}

.hello {
  color: #b2b5bf;
  font-size: 26px;
  line-height: 1.3;
}

.creative {
  color: #acafba;
  font-size: 16px;
  line-height: 1.3;
}

@media screen and (max-width: 992px) {
  .a-banner-slider {
    min-height: 500px;
    padding: 50px 0 0;
  }
  .a-banner-slider .banner_description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .a-banner-slider .banner_description h1 {
    font-size: 40px;
    margin-top: 20px;
  }
}

.ag-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .ag-slide {
    min-height: 500px;
  }
}

.a-arrow-left {
  left: 5% !important;
  top: 50% !important;
}
@media screen and (max-width: 992px) {
  .a-arrow-left {
    display: none;
  }
}

.a-arrow-right {
  right: 10% !important;
  top: 50% !important;
}
@media screen and (max-width: 992px) {
  .a-arrow-right {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .a-pagination {
    display: block !important;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .a-pagination .swiper-pagination-switch {
    background: #000;
  }
}

video.bgvid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../img/agency/bg_top.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .video-banner {
    min-height: 600px;
  }
}
@media screen and (max-width: 481px) {
  .video-banner {
    min-height: 480px;
  }
}

/*----------ABOUT----------------------*/
.a-about-section {
  background: #f4f4f6;
  padding: 140px 0;
}
@media screen and (max-width: 992px) {
  .a-about-section {
    padding: 70px 0;
  }
}

.pic-1 {
  box-shadow: 5px 8.7px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
}

.pic-2 {
  width: 100%;
  height: auto;
  box-shadow: 5px 8.7px 20px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .col-pic1 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .col-pic2 {
    display: none;
  }
}

.about-us {
  padding-left: 42px;
  
}
.about-us h2 {
  text-transform: uppercase;
  color: #35373e;
  font-size: 40px;
  margin-bottom: 26px;
}
.about-us .read-more {
  color: #acafba;
}
@media screen and (max-width: 768px) {
  .about-us {
    padding: 0 15px;
  }
}

.about-us p {
  font-size: 16px;
  color: #acafba;
  line-height: 1.5;
  margin-bottom: 45px;
}

.arrow-green {
  background: url("../img/agency/right.png") no-repeat;
  width: 18px;
  height: 8px;
}

/*----------SERVICES----------------------*/
.serv {
  border-bottom: 1px solid #eeeef0;
}

.a-service {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none;
}

.bg-serv {
  position: relative;
  background: url("../img/momandgirl.jpg") no-repeat center center;
  overflow: hidden;
  background-size: cover;
  padding: 0;
}

.services {
    height: 100%;
  width: 100%;
  min-height: 800px;
  left: 0;
  top: 0;
  background: rgba(53, 55, 62, 0.85);
}
@media screen and (max-width: 992px) {
  .services {
    min-height: 100%;
    padding: 100px 15px;
  }
}
@media screen and (max-width: 768px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.serv-description {
  border: 5px solid #ffffff;
  text-align: center;
  padding: 50px 20px 45px 20px;
  margin: 0 auto;
  min-width: 350px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 992px) {
  .serv-description {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    max-width: 380px;
    margin: 0 auto;
    min-width: 100%;
  }
}

.this-service {
  display: block;
}

.topic {
  font-size: 40px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.describe {
  font-size: 16px;
  line-height: 28px;
  color: #bbbcc0;
}

.serv-item {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}
@media screen and (max-width: 992px) {
  .serv-item {
    padding: 0 15px;
  }
}

.service {
  text-align: center;
  margin-top: 115px;
  margin-bottom: 0;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .service {
    margin-top: 50px;
  }
}

.service img {
  display: inline-block;
  margin: auto;
  opacity: 0.45;
}

.service h6 {
  text-transform: uppercase;
  font-family: 'Jaapokki';
  color: #acafba;
  margin-top: 33px;
  font-size: 13px;
}

.active-item h6 {
  color: #35373e;
}

.active-item img {
  opacity: 1;
}

.service:hover h6 {
  color: #35373e;
}

.service:hover img {
  opacity: 1;
}

/*----------WORK PROCESS----------------------*/
.work-process {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;
  background: #fff;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .work-process {
    padding-bottom: 70px !important;
    padding-top: 70px !important;
  }
}

.a-work-process .sub-title {
  padding-bottom: 0;
}

.process {
  margin-top: 85px;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .process {
    margin-top: 55px;
  }
}

.process h6 {
  color: #acafba;
  font-size: 13px;
  font-family: 'Jaapokki';
  margin-top: 28px;
  text-transform: uppercase;
}

.process:hover h6 {
  color: #35373e;
}

.process img {
  display: inline-block;
  margin: auto;
  opacity: 0.45;
}

.process:hover img {
  opacity: 1;
}

.active-process h6 {
  color: #35373e;
}

.active-process img {
  opacity: 1;
}

.number {
  border-radius: 50%;
  border: 2px solid #eeeef0;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  font-size: 18px;
  font-family: 'Jaapokki';
  color: #acafba;
}

.number p {
  color: #acafba;
  margin-top: 17px;
  font-family: "Jaapokki";
}

.active-process p {
  color: #35373e;
}

.process:hover p {
  color: #35373e;
}

.read {
  font-family: 'Maven Pro';
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: #acafba;
  margin-top: 44px;
}

.use {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.8;
  margin-top: 5px;
}

.process-info {
  display: none;
}

.active-info {
  display: block;
}

.use {
  color: #35373e;
  font-family: 'Jaapokki';
}

/*----------LATEST WORK----------------------*/
.lates-work {
  background: #f4f4f6;
  padding-bottom: 67px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .lates-work .work-img {
    width: 50%;
  }
  .lates-work .work-img img {
    width: 100%;
  }
}
@media screen and (max-width: 481px) {
  .lates-work .work-img {
    width: 100%;
  }
}

.lates-work h3 {
  color: #37383d !important;
  margin-bottom: 20px;
}
.lates-work .swiper-active-switch {
  background: #37383d !important;
}

.tag {
  display: inline-block;
  color: #c6c5cb !important;
  font-family: 'Maven Pro';
  margin-top: 20px;
}
.tag + p {
  color: #c6c5cb !important;
  line-height: 1.5;
}

.late {
  float: left;
  margin-top: 70px;
  margin-bottom: 66px;
}
@media screen and (max-width: 992px) {
  .late {
    text-align: center;
    float: none;
    width: 100%;
    margin-bottom: 0;
  }
}

.late h3 {
  color: #35373e;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .late h3 {
    text-align: center;
  }
}

.lates-work #filters {
  float: right;
  margin-top: 78px;
  font-size: 13px;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .lates-work #filters {
    float: none;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.lates-work #filters button {
  display: inline-block;
  padding: 0 20px  0 20px;
  border: none;
  background: transparent;
  color: #acafba;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .lates-work #filters button {
    padding-bottom: 20px;
  }
}

.lates-work #filters .actual {
  color: #35373e;
}

.lates-work #filters button:hover {
  color: #35373e;
}

.lates-work #filters button:last-child {
  padding: 0 0 0 20px;
}

.work-img {
  display: block;
  vertical-align: top;
  float: left;
  width: 20%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 479px) {
  .work-img {
    width: 100%;
  }
}
.work-img:hover .work-description {
  bottom: 0;
}

.work-img img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 479px) {
  .work-img img {
    width: 100%;
  }
}

.work-description {
  text-align: center;
  width: 100%;
  background: #fff;
  padding: 30px 0 30px 0;
  position: absolute;
  bottom: -300px;
  left: 0;
  transition: bottom 0.4s ease;
}

.work-description h5 {
  text-transform: uppercase;
  font-family: 'Jaapokki';
  font-size: 14px;
  color: #35373e;
}

.work-description p {
  margin-top: 27px;
  font-size: 14px;
  color: #acafba;
}

.view {
  text-align: center;
  margin-top: 70px;
  display: inline-block;
  color: #acafba;
}
.view:hover {
  color: #acafba;
}

/*----------TEAM----------------------*/
.a-team {
  padding-top: 140px;
}
.a-team .block-title {
  margin-bottom: 90px;
}
@media screen and (max-width: 992px) {
  .a-team .block-title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .a-team {
    padding-top: 70px;
  }
}

.our-team h2 {
  font-family: 'Jaapokki';
  font-size: 40px;
  margin-top: 138px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
  line-height: 40px;
}

.team-member {
  position: relative;
  text-align: center;
  padding-bottom: 15px;
}

.team-member h5 {
  font-size: 13px;
  font-family: 'Jaapokki';
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
}

.team-member p {
  font-size: 14px;
  font-family: 'Maven Pro';
  color: #acafba;
  margin-top: 22px;
  text-align: center;
  opacity: 1;
}

.member {
  position: relative;
  top: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.team-member:hover .member {
  top: 180px;
}

.team-member:hover h5 {
  opacity: 0;
}

.team-member:hover p {
  opacity: 0;
}

.soc-net {
  position: absolute;
  top: 0;
  width: 100%;
}

.social-network {
  display: inline-block;
  margin-bottom: 38px;
  width: 23%;
  height: 15px;
  text-align: center;
}

.team .pagination {
  display: none;
}

.arrows {
  margin-top: 25px;
  width: 130px;
  margin: auto;
}

.arrow-left {
  margin-right: 90px;
}

.arrows > div {
  display: inline-block;
  margin-top: 40px;
  opacity: 0.45;
}

.arrows > div:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 991px) {
  .our-team h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .our-team h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .social-network {
    width: 15%;
  }
}
.a-team .soc-net {
  padding-top: 5px;
}

.a-team .member-social {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 20px;
}
@media screen and (max-width: 1200px) {
  .a-team .member-social {
    margin: 0 10px;
  }
}
.a-team .member-social i {
  color: #acafba;
    font-size: 50px;
}
.a-team .member-social i:hover {
  color: #35373e;
}

.a-arrow {
  width: 200px;
  position: relative;
  margin: 0 auto;
}
.a-arrow div {
  position: absolute;
  top: 0;
}
.a-arrow .arrow-left {
  left: 0;
}
.a-arrow .arrow-right {
  right: 0;
}

.a-skills {
  width: 100%;
  padding: 30px 0 140px;
}
@media screen and (max-width: 992px) {
  .a-skills {
    padding: 0 0 70px;
  }
}

.our-skills h3 {
  font-family: 'Jaapokki';
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 90px;
}

.our-progress {
  margin-top: 45px;
}

.our-progress h5 {
  font-family: 'Jaapokki';
  font-size: 13px;
  text-transform: uppercase;
  background: transparent;
  background: none;
}

.our-progress > div {
  display: inline-block;
}

.line {
  height: 2px;
  background: #eeeef0;
  margin-top: 13px;
  width: 100%;
  position: relative;
}
.line .line-active {
  position: absolute;
  left: 0;
  top: 0;
  background: #35373e;
  height: 2px;
  width: 0;
  transition: width 3s linear;
}

.line-active span {
  position: absolute;
  right: 0;
  top: -12px;
  padding: 7px 10px;
  background: #acafba;
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
}
.line-active span:after {
  content: '%';
}

/*----------FROM BLOG----------------------*/
.blog {
  background: #f8f9fd;
  padding-bottom: 120px;
  padding-top: 136px;
}
@media screen and (max-width: 992px) {
  .blog {
    padding-top: 70px;
  }
}

.post {
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .post {
    margin-bottom: 30px;
  }
  .post:last-of-type {
    margin-bottom: 0;
  }
}

.post h5 a {
  font-size: 13px;
  line-height: 22px;
  margin-top: 20px;
  text-transform: uppercase;
  display: block;
  color: #333333;
  transition: color 0.2s linear;
}

.post p {
  text-align: left;
  font-size: 12px;
  margin-top: 23px;
  margin-bottom: 45px;
  color: #888888;
}

.post img {
  max-width: 100%;
}

.a-post .read-more, .a-post p {
  color: #acafba;
}

@media (max-width: 991px) {
  .blog {
    padding-bottom: 40px;
  }

  .from-blog h2 {
    margin-top: 40px;
  }

  .from-blog p, .post p {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .post img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .blog {
    padding-bottom: 40px;
  }

  .from-blog h2 {
    margin-top: 40px;
  }

  .from-blog p, .post p {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .post img {
    width: 100%;
    height: auto;
  }
}

/*----------TRAVEL GALLERY---------------------*/
.t-gallery {
  padding-top: 140px;
}
@media screen and (max-width: 992px) {
  .t-gallery {
    padding-top: 70px;
  }
}

.cont-filter {
  display: table;
  margin: 0 auto 100px;
}
@media screen and (max-width: 992px) {
  .cont-filter {
    margin: 0 auto 50px;
    text-align: center;
  }
}
.cont-filter .button {
  float: left;
  background: none;
  border: none;
  text-transform: uppercase;
  color: #91a4a6;
  padding: 0 16px;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .cont-filter .button {
    margin-bottom: 10px;
    float: none;
    text-align: center;
  }
}
.cont-filter .button.actual {
  color: #32cddb;
}

.country-link {
  float: left;
  width: 25%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .country-link {
    width: 50%;
  }
}
@media screen and (max-width: 481px) {
  .country-link {
    width: 100%;
  }
}
.country-link img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
.country-link:hover .info-panel {
  bottom: 0;
}

.info-panel {
  background: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -200px;
  left: 0;
  padding: 28px 0;
  transition: bottom 0.4s ease;
}
@media screen and (max-width: 992px) {
  .info-panel {
    padding: 18px 0;
  }
}

.country-name {
  color: #223b3d;
  text-transform: uppercase;
  font-size: 13px;
}
@media screen and (max-width: 992px) {
  .country-name {
    font-size: 12px;
  }
}

.sw-container {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

.plase-box {
  min-height: 400px;
}
@media screen and (max-width: 992px) {
  .plase-box {
    min-height: 300px;
  }
}

.place-info {
  background: #fff;
  padding: 100px 80px 40px;
  text-align: center;
}
.place-info p {
  padding-top: 30px;
}
@media screen and (max-width: 992px) {
  .place-info {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.pagination-gallery {
  display: block !important;
  position: absolute;
  top: 440px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .pagination-gallery {
    top: 340px;
  }
}
.pagination-gallery .swiper-pagination-switch {
  background: #ededef;
  border: none;
  width: 10px;
  height: 10px;
  margin: 5px;
}
.pagination-gallery .swiper-pagination-switch:after {
  content: none;
}
.pagination-gallery .swiper-active-switch {
  background: #37cbd7 !important;
  border: none !important;
}

.mfp-close-btn-in .mfp-close {
  cursor: pointer;
  background: #fff;
  z-index: 9999999999999999999999999;
}

/*----------TESTIMONIALS----------------------*/
@media screen and (max-width: 992px) {
  .testimonials {
    padding-bottom: 40px;
  }
}

.bg-testimon {
  background: url("../img/woman%20with%20guitar.jpeg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  min-height: 800px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .bg-testimon {
    min-height: 100%;
    height: auto;
  }
}

.ts-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(53, 55, 62, 0.85);
  position: absolute;
}
@media screen and (max-width: 992px) {
  .ts-container {
    position: relative;
    padding: 50px 15px;
  }
}

.testimotionals-describe {
  border: 5px solid #fff;
  margin: 0 auto;
  padding: 0 30px 40px 30px;
  text-align: center;
  display: none;
  max-width: 360px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}
@media screen and (max-width: 992px) {
  .testimotionals-describe {
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    left: 0;
  }
}

.this-tes {
  display: block;
}

.testimotionals-describe h2 {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 50px;
  color: #fff;
  line-height: 1.1;
}

.testimotionals-describe p {
  margin-top: 20px;
  color: #bbbcc0;
  line-height: 28px;
  font-size: 16px;
}

.words {
  margin-top: 180px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .words {
    margin-top: 60px;
  }
}

.im-center {
  margin-top: 30px;
}

.words > .im-center:first-child {
  margin-top: 0;
}

.testim-pic {
  width: 102px;
  height: 102px;
}

.t-describe {
  font-size: 22px;
  font-family: 'Jaapokki';
  line-height: 32px;
  color: #35373e;
  max-width: 520px;
  margin: 40px auto 0;
}

.t-author {
  font-family: 'Maven Pro';
  font-size: 16px;
  color: #acafba;
  margin-top: 37px;
}

.pagination {
  display: block;
  margin: 0 auto;
}

.ts-pagination {
  display: table;
  margin: 0 auto;
  padding-top: 45px;
}
@media screen and (max-width: 992px) {
  .ts-pagination {
    padding-top: 25px;
  }
}
.ts-pagination .swiper-pagination-switch {
  width: 10px !important;
  height: 10px !important;
  background: #eeeef0;
  margin: 0 6px;
  cursor: pointer;
  border: none;
}
.ts-pagination .swiper-pagination-switch:after {
  content: none;
}
.ts-pagination .swiper-active-switch {
  background: #35373e !important;
  border: none;
}

/*----------LOGO BLOCK----------------------*/
.logos-list {
  background: #f8f9fd;
  padding: 70px 0;
  width: 100%;
  text-align: center;
}

.logos-list a {
  line-height: 72px;
  margin-top: 0;
  text-align: center;
}

.logo-style {
  display: inline-block;
  opacity: 0.45;
  vertical-align: middle;
}

.logo-style:hover {
  opacity: 1;
}

@media (max-width: 991px) {
  .logos-list a {
    margin-top: 20px;
    display: inline-block;
  }

  .logos-list {
    padding: 10px 0 30px;
  }
}
/*----------CONTACT----------------------*/
.a-contact-section {
  padding-top: 140px;
}
@media screen and (max-width: 992px) {
  .a-contact-section {
    padding-top: 70px;
  }
}

.contact-us {
  padding-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .contact-us {
    padding-bottom: 30px;
  }
}

.contact-us p {
  color: #acafba;
}

.contact-info h5 {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 25px;
  margin-top: 50px;
  color: #333;
}

.contact-info h5:first-child {
  margin-top: 0;
}

.contact-info p {
  line-height: 24px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.phone {
  line-height: 24px;
  text-align: left;
  margin-top: 0;
  text-decoration: none;
  color: #acafba;
  transition: color 0.3s linear;
  font-family: 'Maven Pro';
  letter-spacing: 0;
}

.input-style {
  background: #eeeef0;
  padding: 16px 19px;
  color: #acafba;
  font-family: 'Maven Pro';
  font-size: 13px;
  display: inline-block;
  border: none;
  margin-bottom: 30px;
  border: 1px solid transparent;
}

.mail-us {
  color: #acafba;
  transition: color 0.3s linear;
}

.contact-us input[type=text] {
  width: 47%;
  margin-right: 6%;
  float: left;
}

.contact-us input[type=email] {
  width: 47%;
  float: left;
}

.contact-us input[type=tel] {
  width: 47%;
  float: left;
}

.tx-style {
  width: 100%;
  height: 150px;
  background: #eeeef0;
  padding: 16px 19px;
  color: #acafba;
  font-family: 'Maven Pro';
  font-size: 13px;
  margin-bottom: 40px;
  border: none;
  resize: none;
}

.contact-us input.send {
  font-size: 13px;
  text-transform: uppercase;
  color: #35373e;
  display: block;
  margin: 0 auto;
  opacity: 1;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Jaapokki', sans-serif, Arial;
  padding: 0 35px 0 0;
  background-position: 90% 1px !important;
  background-repeat: no-repeat;
  transition: background 0.3s linear;
  border: none;
}

.contact-us input.send:hover {
  background-position: 100% 1px !important;
}

.send:hover {
  opacity: 1;
}

.send:after {
  content: url(../img/agency/arrow.png);
  margin-left: 8px;
  opacity: 0.7;
}

.send:hover:after {
  opacity: 1;
}

@media (max-width: 992px) {
  .contact-us h2 {
    margin-top: 40px;
  }

  .contact-us p {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .contact-info h5 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .contact-info p {
    margin-top: 0;
  }

  .contact-us input {
    margin-bottom: 10px;
  }

  .contact-us textarea {
    margin-bottom: 40px;
  }

  .contact-us input[type=text] {
    width: 100%;
    margin-right: 0;
  }

  .contact-us input[type=email] {
    width: 100%;
  }

  .contact-us input[type=tel] {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .contact-us h2 {
    margin-top: 40px;
  }

  .contact-us p {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .contact-info h5 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .contact-info p {
    margin-top: 0;
  }

  .contact-us input {
    margin-bottom: 10px;
  }

  .contact-us textarea {
    margin-bottom: 20px;
    height: 100px;
  }

  .contact-us input[type=text] {
    width: 100%;
    margin-right: 0;
  }

  .contact-us input[type=email] {
    width: 100%;
  }

  .contact-us input[type=tel] {
    width: 100%;
  }
}
.a-contact-section .input-style, .a-contact-section .tx-style {
  background: #eeeef0 !important;
  color: #acafba !important;
}
.a-contact-section .input-style::-webkit-input-placeholder, .a-contact-section .tx-style::-webkit-input-placeholder {
  color: #acafba !important;
}
.a-contact-section .input-style::-moz-placeholder, .a-contact-section .tx-style::-moz-placeholder {
  color: #acafba !important;
}
.a-contact-section .input-style:-moz-placeholder, .a-contact-section .tx-style:-moz-placeholder {
  color: #acafba !important;
}
.a-contact-section .input-style:-ms-input-placeholder, .a-contact-section .tx-style:-ms-input-placeholder {
  color: #acafba !important;
}
.a-contact-section .contact-us input.send {
  color: #acafba;
  background-image: url("../img/agency/right.png");
}

.contact-us input.send {
  background: url("../img/agency/more-grey.png") no-repeat;
}

/*----------FOOTER----------------------*/
.a-ftr-nav li a:hover {
  color: #fff;
}

.a-footer {
  background: #35373e;
}
.a-footer .footer-info, .a-footer .subscribe-email {
  color: #cfd1db;
}
.a-footer .subscribe-email::-webkit-input-placeholder {
  color: #cfd1db;
}
.a-footer .subscribe-email::-moz-placeholder {
  color: #cfd1db;
}
.a-footer .subscribe-email:-moz-placeholder {
  color: #cfd1db;
}
.a-footer .subscribe-email:-ms-input-placeholder {
  color: #cfd1db;
}
.a-footer .subscribe-form {
  background: #404249;
}

.a-ftr-nav-container {
  background: #2f3138;
}
.a-ftr-nav-container li a {
  color: #cfd1db;
}

.a-social .social-network {
  border-color: #cfd1db;
  line-height: 27px;
}
.a-social .social-network:hover {
  background: #cfd1db;
  border-color: #cfd1db;
}
.a-social .social-network i {
  font-size: 14px;
  color: #cfd1db;
}
.container-footer {
    text-align: center;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ANIMATIONS  AGENCY*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
.team-member .member, .team-member p, .team-member h5, .social-network img, .process img, .process h6, .process p, .service img, .service h6 {
  transition: all 700ms ease-out;
  -ms-transition: all 700ms ease-out;
}

.logo {
    width: 40em;
        min-width:400px;
}

.smallLogo {
 width: 12em;   
}

.bold {
    font-weight: bold;
}

.price {
    color: white;
    opacity: .7;
        margin-top: -15px;
}

.center {
    text-align: center;
    padding-top: 100px 
}



.hiddenImg {
    width: 200px;
    height: 200px;
}

#full {
    width: 900px;
}
